<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <title>Todo</title>
    </head>
    <body>
        <h1 class="font-lg font-bold mb-8">Todo</h1>
        <p class="font-bold mb-4">Welcome {{ user }} - <a class="colors.emerald" href="{% url 'login_app:logout' %}">Log out</a> - <a class="colors.emerald" href="{% url 'login_app:delete_account' %}">Delete Account</a></p>
        {% block content %}
        {% endblock %}
        {% block footer %}
        {% endblock %}
    </body>
</html>

