{% extends todo_app/base.html %}
{% block content %}
<h2>Completed todos</h2>

<ul>
    {% for todo in todos %}
            <li>
                <form action="{% url 'todo_app:change_status' %}" method"POST">
                    {% csrf_token %}
                    <input type="hidden" name="pk">
                    <input type="checkbox" name="checked">
                    <button>Update</button>
                    <button formaction="{% url 'todo_app:delete_todo' %}">Delete</button>
                </form>
                {{todo.text}}
            </li>
    {% endfor %}
</ul>
<hr>
{% endblock %}
{% block footer %}
<a href="{% url 'todo_app:index' %}">Back to todos</a>
{% endblock %}
