{% extends 'todo_app/base.html' %}
{% block content %}
<h1 class="font-bold font-sans text-lg">Login</h1>
        <a class="font-sans text-base colors.emerald" href="{% url 'login_app:sign_up' %}">Sign up</a>
        <hr>
        <form action="{% url 'login_app:login' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="User Name"/>
            <input type="password" name="password" placeholder="Password"/>
            <button>Login</button>
        </form>
        <hr/>
        {% if error %}
            {{error}}
        {% endif %}
        <a href="{% url 'login_app:request_password_reset' %}">Request Password Reset</a>
    </body>
</html>
{% endblock %}
