{% extends 'todo_app/base.html' %}
{% block content %}
<h1>Password Reset</h1>
        <hr>
        <form action="{% url 'login_app:password_reset %}" method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="User Name"/>
            <br>
            <input type="password" name="password" placeholder="Password"/>
            <br>
            <input type="password" name="confirm_password" placeholder="Confirm Password">
            <br>
            <input type="text" name="token" placeholder="Token">
            <br>
            <button>Submit</button>
        </form>
        {% endblock %}
