{% extends 'todo_app/base.html' %}
{% block content %}
<h1>Request Password Reset</h1>
        <hr>
        <form action="{% url 'login_app:request_password_reset' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="User Name"/>
            <input type="email" name="email" placeholder="Email"/>
            <button>Submit</button>
        </form>
        <hr/>
        {% endblock %}
