{% extends 'todo_app/base.html' %}
{% block content %}
<h1>Sign Up</h1>
        <hr>
        <form action="{% url 'login_app:sign_up' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="User Name"/>
            <input type="email" name="email" placeholder="Email"/>
            <input type="password" name="password" placeholder="Password"/>
            <input type="password" name="confirm_password" placeholder="Confirm Password"/>
            <button>Sign up</button>
        </form>
        <hr />
        {% if error %}
            {{error}}
        {% endif %}
        {% endblock %}
